body{
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    align-items: flex-start;
    background: #b9bec2;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

